<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="風の通り道 日本自然文化">
        <meta name="description" content="以日本自然文化为主题的各类作品及艺术实体的资料库">
        <title>風の通り道</title>
        <style>
            .tip{
                color: pink;
            }
            .tip span{
                font-weight: bolder;
                color: black;
            }
        </style>
  </head>
  <body>
      <h1>風の通り道</h1>
      <section>
          <h2>当前共有：</h2>
          <p>主题数 {{subjectNumber}} 个</p>
          <p>条目数 {{itemNumber}} 个</p>
          <p class="tip">
              目前主题已经比较完整，但条目还没有添加
              <br />
              作为测试，现在只有对 <span>雛祭り</span> 这一主题添加了两个条目
              <br />
              搜索其他主题都不会有结果
              <br />
              可以尝试搜索 <span>雛祭り</span> 其子字符串
          </p>
      </section>
      <form>
          <input type="text" id="keyword" placeholder="输入你感兴趣的主题。例如：富士山"
              required="required" size="36" />
          <input type="button" id="search" value="搜索相关条目" />
      </form>
  </body>
  <script>
    document.querySelector('#search').addEventListener('click', function(){
        const keyword = document.querySelector('#keyword').value;
        location.assign(`http://localhost:3000/search/${keyword}`);
    });
  </script>
</html>
